.events-container{
    background-image:
    linear-gradient(180deg, rgb(0 0 0 / 0.8),rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.8)),
    linear-gradient(90deg, rgb(0 0 0 / 0.2),rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.2)),
    url('/events.png'),
    url('/eventsBanner.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center, center, bottom, top;
    background-size: 100%, 100%, contain, 80%;
}

@media(min-width: 1024px) {
    .events-container {
        background-position: 50%, 50%, top, bottom;
    }
}